# 设置提交时过滤文件后缀
*.class
.idea/
.svn/
target/
*.log
*.dat
metastore_db/

*.class
*.log



# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
# 忽略hanlp 模型库文件
SparkML_ClassNews/dictionaries/hanlp/data/*
SparkML_ClassNews/models/*
# 忽略测试文件夹
*/src/test/*
