# 设置过滤文件夹
.idea/
.svn/
target/
metastore_db/
# 忽略hanlp 模型库文件
SparkML_ClassNews/dictionaries/hanlp/data/*
SparkML_ClassNews/models/*
# 忽略测试文件夹
*/src/test/*


# 设置过滤文件类型
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.dat
*.class
*.log
*.ctxt
.mtj.tmp/


# 设置过滤文件名称





